<div class="container-fluid d-flex justify-content-center bg-bookings">
<div class="card w-25">
  <div class="card-body">
    <h2 class="card-title">Booking</h2>
    <%= simple_form_for [@boat, @booking] do |f| %>

      <%= f.input :check_in, class:'form-control'%>
      <%= f.input :check_out, class:'form-control' %>

      <%= f.submit "Submit review", class: "btn btn-primary"%>
    <% end %>
  </div>
</div>
</div>
