
<!-- code a Hero / Banner section -->
  <div class="banner-home" style="background-image: url(https://images.unsplash.com/photo-1533537124921-db3248c9fa93?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8Ym9hdCUyMHN1bnNldHxlbnwwfHwwfHw%3D&w=1000&q=80);">
    <div class="container">
      <h1 class="text-center-home">Welcome to Click and Sail</h1>
      <p>Here you can rent the best Boats!</p>
      <a class="btn-primary" href="#">Start now!</a>
    </div>
  </div>
<!-- code a "How it works" section -->
  <div class="container">
    <h2 class="text-center-home">How it works</h2>
    <div class="cards">

      <div class="card-home">
        <img src="images/apply.svg" alt="">
        <h4>Book a Boat</h4>
        <p>Find the Boat that matches with your need</p>
      </div>

      <div class="card-home">
        <img src="images/learn.svg" alt="">
        <h4>Rent your Boat</h4>
        <p>Rent out your Boat!</p>
      </div>
    </div>
  </div>
