.banner {
  height: 440px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("https://images.unsplash.com/photo-1528580185850-2b598f45662f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1706&q=80");
  background-size: cover;
  background-repeat: no-repeat;

  h1 {
    color: white;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
    margin-top: 100px;
  }
  p {
    color: white;
    opacity: .8;
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 30px;
  }
  .btn {
    padding: 10px 40px;
    margin-bottom: 20px;
    background-color: #1572A1;
    border-radius: 10%;
    border-color: grey;
  }
}
