<div class="banner">
  <div class="banner-content text-center">
    <h1>Find your Boat here!</h1>
    <p>Chick and Sails makes it easy to find your fav boat!</p>
    <%= link_to "Start now", new_user_session_path, class: "btn btn-lg btn-primary"  %>
  </div>
</div>

<div class="banner">
</div>
<div class='container w-75 m-20px'>
  <div class="row">
    <% @boats.each do |boat| %>
    <div class="col d-f">
      <div class="boat-card" style="width: 18rem;">
        <img src="https://cdn.cnn.com/cnnnext/dam/assets/210701131326-worlds-largest-yacht--credit--winch-design-3-full-169.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Brand: <%= boat.brand %></h5>
          <p class="card-text"> Year: <%= boat.year %></p>
      </div>
    </div>
    </div>
    <% end %>
  </div>
</div>
